* { box-sizing: border-box; margin: 0; padding: 0; }

/* body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
} */

.btn1{
	right: 10px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
    border-radius: 4px;
    padding: 6px 12px;
    margin-right: 10px;
}
#topHead{
	float: right;
	top: 40px;
	margin-bottom: 30px;
	text-align: end;
}
#login{
	margin-right: 20px;
}

/* form */
#dolog{
	background-color: white;
	position: absolute;
	margin-left: 1290px;
	width: 450px;
	padding: 20px;
	display: none;
	border-radius: 0.5em;
}

.form-control{
	margin-left: 10px;
	width: 100%;
}
.control-label{
	width: 70px;
	margin-top: 30px;
	
}
.btn:active {
    background-image: none;
    outline: 1;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.btn-primary {
    background-color: #eeeeee;
    border-style: none;
}
.btn.btn-primary:hover {
    background-color: #e6e6e6;
}

.header {
    background: #eee;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.header .btn-group {
	bottom: 10px;
    margin-top: 30px;
}
.btn{
	margin-right: 15px;
	margin-bottom: 10px;
	float: right;
	padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
#loginBtn{
	margin-right: 50px;
}

/* registForm */
#center{
	border: 1px solid grey;
	background-color: white;
	position: absolute;
	margin: 0px 700px;
	width: 450px;
	padding: 20px;
	display: none;
	border-radius: 0.5em;
	z-index: 50;
}

#select{
	width: 20;
	size: 20;
}

#id{
	width: 100%;
	float: left;
}
#idCheck{
	margin-left: 10px;
}

.birth{
	float: left;
	width: 20%;
	margin-right: 10px;
}
.check{
	float: left;
	width: 30%;
	margin-top: 10px;
	margin-right: 15px;

}
.checkP{
	display: none;
}
#password, .salon{
	width: 90%;
}
/* 검색버튼 */
.searchImg{
	width: 50px;
}

#searchBar{
	text-align: center;
	margin-right: 10px;
	width: 600px;
	margin-top: 15px;
	border-style: none;
	border-bottom: 1px solid grey;
	background-color: #eeeeee;
}

.input-group-addon{
	border-style: none;
}


#searchBtn{
	border-style: none;
	background-color: #eeeeee;
}

.form-group{
	
	text-align: left;
}

.btn-group{
	float: right;
}
#scaledown-btn{
	margin: 0px;	
}
.searchImg.mainImg{
	float: left;
	width: 300px;
	height: 80px;
}
#mainLogo{
	position: absolute;
	width: 400px;
	height: 150px;
}
.input-group{
	margin-left: 200px;
	margin-top: 15px;
}