@CHARSET "UTF-8";

.container {
	padding: 0px
}

.varDiv {
	margin: auto;
	width: 1170px;
	background:;
}
.viewCommentBtn {
	color: grey;
	cursor:pointer;
}
.viewCommentBtn:HOVER {
	color: lightGrey;
}

.contentsDiv {
	max-width: 1000px;
	background: ;
	float: left;
}

.contentDiv {
	margin: 10px;
	max-width: 650px;
	background:;
	float: right;
}

.infoDiv {
	margin-top: 20px;
	max-width: 250px;
	float: left;
	
}

.infoDivDummy {
	margin-top: 20px;
	max-width: 250px;
	padding: 10px;
	background:;
	float: left;
}

.secondInfoDiv {
	margin-top: 20px;
	width:250px;
	background:;
	float: right;
}

.message {
	padding:0px;	
	border:1px solid lightgrey;
	top: 200px;
	right: 400px;
	position: absolute;
	/* display: none; */
	background: white;
	z-index: 10;
}
.message > .messageContainer {
	height: 300px;
	
}

.mainContents {
	background: white;
	padding: 10px;
	margin: 10px;
	border: 1px solid #F5F3F3;
}
.agentList td{
	padding: 3px;
}

.mainContents img{
	margin-bottom: 10px;
}
.agentList tr:HOVER {
	background: lightgrey;
}

.sticky {
	position: fixed;
	top: 0px;
}

.stickyElse {
	position: fixed;
	top: 20px;
}

.message.stickyElse {
	position: fixed;
	top: 50px;
}

.likeSign{
	opacity:0.3;
}