@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic);

/* 업로드 창 */
.cobox {
	width: 99%;
	height: 98%;
}
.mibox {
	width:100%;
	height: 100px;
	background: rgba(245, 222, 179, 0.5);
	border: 2px dashed black;
	margin-top: 5%;
}
.load {
	padding: 2%;
	width: 100%;
	height: 30px;
	background: rgba(255, 255, 255, 0.5);
	margin-top: 5%;
	padding-top: 5px;
}
.sbtn {
	position: absolute;
	width: 30%;
	height: 30px;
	margin-top: -26px;
	right: 21px;
	border: 1px solid black;
	font-family: 'Syncopate', sans-serif;
	font-size: large;
	text-align: center;
	cursor: pointer;
	padding-top: 3px;
}
.sbtn:hover {
	transition: 0.5s;
	border-color: #F05504;
	color: #F05504;
}
.sub {
	width: 40px;
	margin: auto;
	margin-top: 5%;
}
.firm {
	width: 200px;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0);
	font-family: 'Syncopate', sans-serif;
	font-size: x-large;
	font-weight: bold;
	margin: 3% -200%;
	text-align: center;
	cursor: pointer;
	color: black;
}
.firm:hover {
	transition: 0.5s;
	border-color: #F05504;
	color: #F05504;
}

/* 파일 업로드 미리보기 부분 */
.mibox img {
	max-height: 100%;
	display: block;
	margin: auto;
}
.mibox img:hover {
	max-height: 400%;
	z-index: 200;
}
#f1 {
	height: 100%;
	float: right;
	width: 30%;
	opacity: 0;
	z-index: 400;
}
#f2 {
	height: 100%;
	float: right;
	width: 30%;
	opacity: 0;
}
#f3 {
	height: 100%;
	float: right;
	width: 30%;
	opacity: 0;
}
#f4 {
	height: 100%;
	float: right;
	width: 30%;
	opacity: 0;
	border: 1px solid red;
}

/* 디자이너 슬라이드 */
.navl {
	position: fixed;
	width: 30px;
	height: 50%;
	background: #FEFAD7;
	z-index: 99;
	top: 50%;
	cursor: pointer;
}
.navr {
	position: fixed;
	width: 30px;
	height: 50%;
	background: #FEFAD7;
	z-index: 99;
	top: 50%;
	right: 0%;
	cursor: pointer;
}
.nav {
	position: fixed;
	width: 100%;
	height: 30px;
	z-index: 200;
	bottom: 20%;
}
.navl img {
	position: fixed;
	height: 30px;
	cursor: pointer;
	top: 75%;
}
.navr img {
	position: fixed;
	height: 30px;
	cursor: pointer;
	top: 75%;
}
.nav:hover {
	background: #00779E;
	transition: 0.5s;
}
.next {
	position: absolute;
	right: 0;
}

/* 전체 마진 패딩 */
* {
	margin: 0;
	padding: 0;
	
}

/* 화면 하단 디자이너 부분 */
#big {
	position:absolute;
	width: 200%;
	height: 50%;
	top: 50%;
	right: 0;
	overflow: hidden;
}
.name {
	font-family: 'Syncopate', sans-serif;
	font-size: x-large;
	padding-top: 62px;
}
.move {
	font-size: x-large;
}
#dsnpic1 {
	width: 10%;
	background-repeat:no-repeat;
	height: 100%;
	float: left;
	
}
#dsnpic2 {
	background-repeat:no-repeat;
	width: 10%;
	height: 100%;
	float: left;
	
}
#dsnpic3 {
	background-repeat:no-repeat;
	width: 10%;
	height: 100%;
	float: left;
	
}
#dsnpic4 {
	background-repeat:no-repeat;
	width: 10%;
	height: 100%;
	float: left;
	
}
#dsnpic5 {
	background-repeat:no-repeat;
	width: 10%;
	height: 100%;
	float: left;
	
}
#dsnpic6 {
	background-repeat:no-repeat;
	width: 10%;
	height: 100%;
	float: left;
	
}
#dsnpic7 {
	background-repeat:no-repeat;
	width: 10%;
	height: 100%;
	float: left;
	
}
#dsnpic8 {
	background-repeat:no-repeat;
	width: 10%;
	height: 100%;
	float: left;
	
}
#dsnpic9 {
	background-repeat:no-repeat;
	width: 10%;
	height: 100%;
	float: left;
	
}
#dsnpic10 {
	background-repeat:no-repeat;
	width: 10%;
	height: 100%;
	float: left;
	
}
#big .pic {
	cursor:pointer;
	-webkit-filter: grayscale(100%);
	filter: gray;
}
#big .pic:hover {
	-webkit-filter: grayscale(0%);
	filter: none;
	
}
.blog1 {
	position:relative;
	width: 150px;
	height: 150px;
	margin: auto;
	margin-top: 50%;
	text-align: center;
	color: white;
	z-index: 100;
}

/* 디자이너 개별 호버 슬라이드 */
.slide1 {
	z-index: 3;
	width:10%;
	height:50%;
	position: absolute;
	bottom: -60%;
	background: rgba(255,57,104,1);
	transition:.5s;
	opacity:0;
}
.slide2 {
	width:10%;
	height:50%;
	position: absolute;
	bottom: -60%;
	background: rgba(57,203,255,0.9);
	transition:.5s;
	opacity:0;
}
.slide3 {
	width:10%;
	height:50%;
	position: absolute;
	bottom: -60%;
	background: rgba(255,179,71,1);
	transition:.5s;
	opacity:0;
}
.slide4 {
	width:10%;
	height:50%;
	position: absolute;
	bottom: -60%;
	background: rgba(100,20,100,1);
	transition:.5s;
	opacity:0;
}
.slide5 {
	width:10%;
	height:50%;
	position: absolute;
	bottom: -60%;
	background: rgba(207,207,196,1);
	transition:.5s;
	opacity:0;
}

/* 디자이너 개별 호버 */
#big .pic:hover .name {
	color: black;
	transition: 1s;
}
#big .pic:hover .blogm {
	color: black;
	transition: 1s;
	text-decoration: none;
}
#big .pic:hover .slide1 {
	bottom: 0%;
	opacity:0.8;
}
#big .pic:hover .slide2 {
	bottom: 0%;
	opacity:0.8;
}
#big .pic:hover .slide3 {
	bottom: 0%;
	opacity:0.8;
}
#big .pic:hover .slide4 {
	bottom: 0%;
	opacity:0.8;
}
#big .pic:hover .slide5 {
	bottom: 0%;
	opacity:0.8;
}

/* a링크 밑줄 삭제 */
a {
	text-decoration: none;
	color: white;
	background-repeat: 
	cursor: pointer;
}

/* 바디전체 */
body {
	font-family: Microsoft YaHei, "Source Sans Pro", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

/* 화면 상단 미용실 슬라이드 */
.wrap-index {
	overflow: hidden;
}
.dark-green {
	color: #4c5b52;
}
.light-green {
	color: #00853e;
}
.mb-50 {
	margin-bottom: 50px;
}

/* 실제 슬라이더 */
.slider {
	float: left;
}
.slider .jquery-reslider .slider-block {
	width: 100%; 
	/* 1024용 높이 */
	height: 321.5px;
	/* top: 20px; */
	/* 1280용 높이
	height: 50%; */
	right: 0;
	position: absolute;
	z-index: 97;
	background-position: 50% 50%;
	background-size: cover;
	opacity: 0;
}
.slider .jquery-reslider .slider-dots {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 50%;
}
.slider .jquery-reslider .slider-dots li {
	width: 15px;
	height: 15px;
	border-radius: 100px;
	display: inline-block;
	margin: 10px;
	border: 1px solid #ffffff;
	cursor: pointer;
}
.slider .jquery-reslider .slider-dots li.active {
	background-color: #ffffff;
}


/* 미용실 사진 에딧창 */
.registForm {
	width: 100%;
	height: 100%;
}
.blah1 {
	width: 20%;
	height: 50%;
	float: left;
	margin-top: 3%;
	margin-left: 3%;
}
.blah2 {
	width: 20%;
	height: 50%;
	float: left;
	margin-top: 3%;
	margin-left: 5%;
}
.blah3 {
	width: 20%;
	height: 50%;
	float: left;
	margin-top: 3%;
	margin-left: 5%;
}
.blah4 {
	width: 20%;
	height: 50%;
	float: left;
	margin-top: 3%;
	margin-left: 5%;
}

/* 화면 최상단 아이콘 DIV */
.topbar {
	position: absolute;
	/* background: #FDFAF1; */
	top: 0px;
	right:0px;
	height:50%;
	width:30%;
	z-index: 99;
	padding-top: 100px;
}

.icon button {
	border-style: none;
	background: rgba(34, 34, 34, 0);
}
.icon button:hover {
	color: black;
	transition: 0.5s;
}
.icon div{
	padding: 5px;
	padding-left: 30px; 
}
.icon div:HOVER{
	background-color:rgba(200,200,200,0.5);
	color:white;
	transition: 0.5s;
}
.dsnNavBtn{
	background-color: rgba(34, 34, 34, 0.3);
	cursor: pointer;
}

.dsnNavBtn:HOVER{
	background-color: rgba(34, 34, 34, 0.7);
	transition: 0.5s;
}


/* .icon button:hover {
	color: #F05504;
} */

@media screen and (max-width: 768px) {
	.slider .jquery-reslider .slider-direction {
		zoom: .8;
	}
	.slider .jquery-reslider .slider-dots {
		position: absolute;
	}
}
