@CHARSET "UTF-8";

.graphDisplay{
	width: 30px;
	border: 1px solid black
}

.rankGraph {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.statisticsDiv {
	background: ;
	height: 400px;
	width: 920px;;
	margin: auto;
	position: relative;
}

.rankTagDiv {
	bottom: 0px;
	position: absolute;
	border-top: 1px solid black;
	width: 100%;
	height: 20px;
	background: grey;
	font-weight: bold;
	font-size: 16px;
}

.tagRank {
	display:inline-block;
	margin: 20px;
	max-width: 30px;
	overflow: hidden;
}